/* Tablets */
@media only screen and (min-width: 788px) and (max-width: 979px) {
}

/* Smartphone */
@media only screen and (max-width: 787px) {
  /* General Styles */
  .button {
    width: 100%;
  }

  /* Header */
  .header {
    padding-bottom: 0;
  }

  .header img {
    padding-left: 110px;
  }

  .header a {
    margin: 0 auto 20px auto;
  }

  .header_menu {
    text-align: center;
  }

  .header_menu ul {
    margin-top: 30px;
  }

  .header_menu ul li {
    margin-left: 10px;
    margin-top: -10px;
  }

  .header_menu ul li a:hover::after {
    content: "";
    width: 0px;
    height: 0px;
  }

  .header_menu ul li a {
    border: 3px solid #e9204f;
    padding: 5px;
    width: 136px;
    display: block;
    float: left;
    text-align: center;
  }

  .header_menu ul li a:hover {
    border-color: #fff;
  }

  /* Home */
  .home h1 {
    font-size: 80px;
    margin-top: -40px;
    text-align: center;
  }

  .home h1::before {
    content: "";
    width: 0;
    height: 0;
    background: #000;
  }

  /* Social */
  .social .social_network {
    text-align: center;
    padding: 20px 0 0 0;
  }

  .social h2 {
    padding: 10px 0;
  }

  .social .make_enquiry {
    text-align: center;
    padding: 10px 0 20px 0;
  }

  /* Footer */
  .footer p {
    text-align: center;
  }

  .footer ul li {
    margin-left: 20px;
  }
}
