/* General Styles */
body {
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #e9204f;
}

.button {
  color: #fff;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border: #e9204f solid 3px;
  padding: 10px 20px;
}

.button:hover {
  border-color: #fff;
}

.background_secondary {
  background: #101010;
  width: 100%;
}

.background_social {
  background: #1b1b1b;
  width: 100%;
}

.background_contact {
  background: #161616;
  width: 100%;
}

.background_footer {
  background: #e9204f;
  width: 100%;
}

.separator {
  width: 3px;
  height: 25px;
  background: #e9204f;
  margin: 0 auto;
}

.section_header {
  margin-top: 80px;
  font-family: "Roboto", sans-serif;
}

.section_header h2::before {
  content: "";
  width: 50px;
  height: 3px;
  background: #e9204f;
  display: block;
  margin-bottom: 10px;
}

.section_header h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 5px;
}

.section_header p {
  color: #e9204f;
  text-transform: uppercase;
}

.section_header_middle {
  margin-top: 80px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.section_header_middle h2 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 5px;
}

.section_header_middle p {
  color: #e9204f;
  font-size: 14px;
  text-transform: uppercase;
}

.soon {
  padding-top: 40px;
  color: #fff;
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

/* Header */

.header {
  width: 100%;
  top: 0;
  padding-top: 60px;
}

.header_menu {
  text-align: right;
  padding-top: 10px;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 20px;
}

.header_menu ul li a {
  color: #fff;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
}

.header_menu ul li a:hover::after {
  content: "";
  width: 30px;
  height: 2px;
  background: #e9204f;
  display: block;
}

/* Home */
.home {
  text-align: left;
}

.home h1 {
  margin: 60px 0;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
}

.home h1::before {
  content: "";
  width: 100px;
  height: 3px;
  background: #e9204f;
  display: block;
  margin-bottom: 60px;
}

.home_card.container {
  margin-top: 110px;
}

.home_card_pink {
  background: #e9204f;
  color: #fff;
  padding: 45px 40px 60px 40px;
}

.home_card_pink h3,
.home_card_dark h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 35px;
}

.home_card_pink h3::after {
  content: "";
  width: 30px;
  height: 3px;
  background: #fff;
  display: block;
  margin: 15px 0 25px 0;
}

.home_card_pink p,
.home_card_dark p {
  font-size: 14px;
  line-height: 20px;
}

.home_card_dark {
  background: #1b1b1b;
  color: #fff;
  padding: 45px 40px 60px 40px;
}

.home_card_dark h3::after {
  content: "";
  width: 30px;
  height: 3px;
  background: #e9204f;
  display: block;
  margin: 15px 0 25px 0;
}

/* Services */
.section_view_all {
  margin-top: 110px;
  text-align: right;
}

.services.container {
  margin-top: 30px;
}

.services_card {
  background: #191919;
  padding: 20px 20px;
  margin-bottom: 20px;
}

.services_card p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  float: left;
  margin-top: 5px;
}

.services_card img {
  float: right;
}

.services_separator.container,
.works_separator.container,
.about_separator.container,
.blog_separator.container {
  padding-top: 40px;
}

/* Works */

.works.container {
  padding: 60px 0 40px 0;
}

.works img {
  max-width: 300px;
}

/* Social */
.social ul li {
  display: inline-block;
  margin-left: 10px;
}

.social .social_network {
  text-align: right;
  padding: 75px 0;
}

.social h2 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 80px 0;
}

.social .make_enquiry {
  text-align: left;
  padding: 85px 0;
}

/* Contact */
.contact.container {
  padding-top: 25px;
}

.contact .logo {
  width: 98px;
  margin: 0 auto;
}

.contact .logo::after {
  content: "";
  width: 100px;
  height: 3px;
  background: #e9204f;
  display: block;
  margin-top: 5px;
}

.contact ul {
  text-align: center;
  margin: 10px 0 25px 0;
}

.contact ul li {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.08em;
  text-align: center;
  margin-left: 20px;
}

.contact ul li h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin: 5px 0;
}

.contact ul li span {
  color: #b1b1b1;
  font-size: 14px;
}

/* Footer */
.footer.container {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.08em;
  padding: 20px 0;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #1b1b1b;
}

.footer ul li {
  display: block;
  margin-left: 20px;
  float: right;
}

/* JS Simple Slider */
.js [data-slide] {
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
  pointer-events: none;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
  pointer-events: initial;
}
.js [data-slide-nav] {
  display: block;
  text-align: center;
}

.js [data-slide-nav] > button {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: none;
  padding: 0;
  border: 2px solid #b1b1b1;
  border-radius: 10px;
  text-indent: -99px;
  overflow: hidden;
  background: #101010;
}

.js [data-slide-nav] > button.active {
  background: #e9204f;
}
